# Load Libraries & Dataset

In [43]:
import pandas as pd
import numpy as np
from bokeh.io import output_notebook, output_file
from bokeh.plotting import figure, show, ColumnDataSource
from bokeh.models.tools import HoverTool

In [44]:
# Load the dataset
df_load = pd.read_csv(r"C:\Users\Will Buckler\Desktop\SWEFC\DataPipe_R_Spark_Java\database.csv")
# Preview df_load
df_load.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

# Data Preparation

In [45]:
# Create a years field and add it to the dataframe
df_load = df_load.drop([3378, 7512, 20650])
df_load['Year'] = [int(x.split('/')[2]) for x in df_load.iloc[:,0]]
df_load.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Year
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965

In [46]:
# Create a years field and add it to the dataframe
#df_load = df_load.drop([3378, 7512, 20650])
df_load['Year'] = [int(x.split('/')[2]) for x in df_load.iloc[:,0]]
df_load.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Year
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965

In [47]:
lst_years = list(df_load['Year'].unique())
count_years = []

# Preview years list
lst_years

[1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [48]:
# Count the number of records in the dataframe for each year in the lst_years
for year in lst_years:
    val = df_load[df_load['Year'] == year]
    count_years.append(len(val))
    
# Preview count_years
count_years

[339,
 234,
 255,
 305,
 323,
 345,
 386,
 388,
 401,
 361,
 411,
 457,
 425,
 410,
 356,
 348,
 321,
 346,
 453,
 482,
 475,
 485,
 505,
 489,
 480,
 528,
 429,
 533,
 466,
 508,
 591,
 541,
 456,
 388,
 446,
 553,
 443,
 444,
 485,
 571,
 533,
 508,
 608,
 508,
 517,
 560,
 712,
 445,
 461,
 480,
 446,
 469]

In [49]:
# Build the Earthquakes Frequency dataframe using the year and number of earthquakes occuring in each year
df_quake_freq = pd.DataFrame({'Year':lst_years, 'Counts':count_years})
# Preview earthquake freq dataframe
df_quake_freq.head()

   Year  Counts
0  1965     339
1  1966     234
2  1967     255
3  1968     305
4  1969     323

In [50]:
# Create a ColumnDataSource and a list of year and count values
source_freq = ColumnDataSource(df_quake_freq)
# Create lists from source_freq ColumnDataSource
years_list = source_freq.data['Year'].tolist()
counts_list = source_freq.data['Counts'].tolist()

print(source_freq)

ColumnDataSource(id='1002', ...)

In [51]:
# Get the average magnitude value for each year
magnitude = []

for i in df_quake_freq.Year:
    x = df_load[df_load['Year'] == i]
    data_magnitude = sum(x.Magnitude)/len(x.Magnitude) # Average earthquake magnitude value for each year
    magnitude.append(data_magnitude)
df_quake_freq['Magnitude']=magnitude

# Get the average depth value for each year    
depth = []

for i in df_quake_freq.Year:
    x = df_load[df_load['Year'] == i]
    data_depth = sum(x.Depth)/len(x.Depth) # Average earthquake depth value for each year
    depth.append(data_depth)
df_quake_freq['Depth']=depth

# Get the maximum earthquake magnitude for each year

max_magnitude = list(df_load.groupby('Year').Magnitude.max())
df_quake_freq['Max_Magnitude'] = max_magnitude

# Data Pre-Processing

In [52]:
import math

df_test = pd.read_csv(r"C:\Users\Will Buckler\Desktop\SWEFC\DataPipe_R_Spark_Java\Data\earthquakeTest.csv")

# Convert Latitude and Longitude column values to Mercator projection decimal values
# Code copied from separate notebook.  Avoid plot portion from a different lesson, in favor
# of data vis in Power Bi

lat = df_load['Latitude'].values.tolist()
lon = df_load['Longitude'].values.tolist()
    
lst_lat = []
lst_lon = []
i = 0
    
# Convert lat and long values inot merc_projection
for i in range(len(lon)):
    r_major = 6378137.000
    x = r_major * math.radians(lon[i])
    scale = x/lon[i]
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + lat[i] * (math.pi/180.0)/2.0)) * scale
        
    lst_lon.append(x)
    lst_lat.append(y)
    i += 1
    
df_load['Coords_x'] = lst_lat
df_load['Coords_y'] = lst_lon

# Part of column drop was cut off in video, past Azimuthal Gap.  I suspect this will affect
# future code execution.  Used df_load.columns to find column names to drop.
df_train = df_load.drop(['Depth Error','Time','Depth Seismic Stations',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square',
       'Source', 'Location Source', 'Magnitude Source', 'Status'], axis=1)
df_train.head()
len(df_train)

23409

In [53]:
# Preview df_train
df_test.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2017-01-01T00:04:56.020Z,32.9800,-115.545833,11.50,2.68,ml,41.0,77.0,0.06553,0.26,...,2017-02-08T21:33:00.874Z,"2km W of Brawley, CA",earthquake,0.24,0.46,0.196,64.0,reviewed,ci,ci
1,2017-01-01T00:13:25.380Z,2.8327,127.578600,78.93,5.00,mb,NaN,101.0,2.05800,0.75,...,2017-03-27T23:53:16.040Z,"131km NNW of Tobelo, Indonesia",earthquake,6.80,7.10,0.065,75.0,reviewed,us,us
2,2017-01-01T00:22:02.820Z,32.9730,-115.550500,9.40,2.65,ml,42.0,75.0,0.07023,0.24,...,2017-02-08T21:36:24.950Z,"2km WSW of Brawley, CA",earthquake,0.23,0.61,0.198,76.0,reviewed,ci,ci
3,2017-01-01T00:23:53.890Z,-5.9497,153.898800,10.00,4.10,mb,NaN,185.0,2.45700,0.32,...,2017-03-27T23:53:16.040Z,"180km WNW of Panguna, Papua New Guinea",earthquake,7.50,1.90,0.184,8.0,reviewed,us,us
4,2017-01-01T00:45:57.980Z,-2.9302,139.432800,49.25,4.10,mb,NaN,132.0,7.17400,0.90,...,2017-03-27T23:53:16.040Z,"132km WSW of Abepura, Indonesia",earthquake,13.50,8.40,0.166,10.0,reviewed,us,us

In [54]:
df_test_clean = df_test[['time', 'latitude', 'longitude', 'depth', 'mag']]
# Preview df_test_clean
df_test_clean.head()

                       time  latitude   longitude  depth   mag
0  2017-01-01T00:04:56.020Z   32.9800 -115.545833  11.50  2.68
1  2017-01-01T00:13:25.380Z    2.8327  127.578600  78.93  5.00
2  2017-01-01T00:22:02.820Z   32.9730 -115.550500   9.40  2.65
3  2017-01-01T00:23:53.890Z   -5.9497  153.898800  10.00  4.10
4  2017-01-01T00:45:57.980Z   -2.9302  139.432800  49.25  4.10

In [55]:
# Rename fields
df_train = df_train.rename(columns={'Magnitude Type':'Magnitude_Type'})
df_test_clean = df_test_clean.rename(columns={'time':'Date', 'latitude':'Latitude',
                                             'longitude':'Longitude', 'mag':'Magnitude','depth':'Depth'})

# Preview df_train
df_train.head()

,Date,Latitude,Longitude,Type,Depth,Magnitude,Magnitude_Type,ID,Year,Coords_x,Coords_y
0,01/02/1965,19.246,145.616,Earthquake,131.6,6.0,MW,ISCGEM860706,1965,2.183920e+06,1.620990e+07
1,01/04/1965,1.863,127.352,Earthquake,80.0,5.8,MW,ISCGEM860737,1965,2.074248e+05,1.417676e+07
2,01/05/1965,-20.579,-173.972,Earthquake,20.0,6.2,MW,ISCGEM860762,1965,-2.341749e+06,-1.936647e+07
3,01/08/1965,-59.076,-23.557,Earthquake,15.0,5.8,MW,ISCGEM860856,1965,-8.196832e+06,-2.622353e+06
4,01/09/1965,11.938,126.427,Earthquake,15.0,5.8,MW,ISCGEM860890,1965,1.338653e+06,1.407379e+07

In [56]:
# Preview df_test_clean
df_test_clean.head()

                       Date  Latitude   Longitude  Depth  Magnitude
0  2017-01-01T00:04:56.020Z   32.9800 -115.545833  11.50       2.68
1  2017-01-01T00:13:25.380Z    2.8327  127.578600  78.93       5.00
2  2017-01-01T00:22:02.820Z   32.9730 -115.550500   9.40       2.65
3  2017-01-01T00:23:53.890Z   -5.9497  153.898800  10.00       4.10
4  2017-01-01T00:45:57.980Z   -2.9302  139.432800  49.25       4.10

In [57]:
# Create training and testing datframes
df_testing = df_test_clean[['Latitude', 'Longitude', 'Magnitude', 'Depth']]
df_training = df_train[['Latitude', 'Longitude', 'Magnitude', 'Depth']]

In [58]:
# Preview df_testing
df_testing.head()

   Latitude   Longitude  Magnitude  Depth
0   32.9800 -115.545833       2.68  11.50
1    2.8327  127.578600       5.00  78.93
2   32.9730 -115.550500       2.65   9.40
3   -5.9497  153.898800       4.10  10.00
4   -2.9302  139.432800       4.10  49.25

In [59]:
# Preview df_training
df_training.head()

   Latitude  Longitude  Magnitude  Depth
0    19.246    145.616        6.0  131.6
1     1.863    127.352        5.8   80.0
2   -20.579   -173.972        6.2   20.0
3   -59.076    -23.557        5.8   15.0
4    11.938    126.427        5.8   15.0

In [60]:
# Remove nulls from our datasets
df_training.dropna()
df_testing.dropna()

        Latitude   Longitude  Magnitude   Depth
0      32.980000 -115.545833       2.68  11.500
1       2.832700  127.578600       5.00  78.930
2      32.973000 -115.550500       2.65   9.400
3      -5.949700  153.898800       4.10  10.000
4      -2.930200  139.432800       4.10  49.250
...          ...         ...        ...     ...
19995 -21.459800  168.774000       4.30  10.000
19996  35.239500  -97.745300       2.60   6.364
19997  42.139833 -121.692667       2.58   6.880
19998  67.461600 -158.713600       2.80   6.500
19999  37.139800  -98.335800       2.50   7.710

[20000 rows x 4 columns]

In [61]:
# Create training data features
x = df_training[['Latitude', 'Longitude']]
y = df_training[['Magnitude', 'Depth']]

In [62]:
# Create testing data features
x_new = df_testing[['Latitude', 'Longitude']]
y_new = df_testing[['Magnitude', 'Depth']]

# Building Predictive Model

In [66]:
# Import machine learning libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Use train test split to split our training data into train and test datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 42) # 20% testing 80% training

In [70]:
# Create a model
model_reg = RandomForestRegressor(random_state=50)
# Train the model
model_reg.fit(x_train, y_train)
# Predict y_test (magnitude and depth) using x_test features (latitude and longitude)
results = model_reg.predict(x_test)
# Check model's accuracy score
score = model_reg.score(x_test, y_test) * 100
print(score)

36.98868569470867

In [71]:
# Preview predicted earthquakes.  Stored as array
results

array([[  5.835 ,  56.072 ],
       [  5.831 ,  35.797 ],
       [  5.556 ,  34.6866],
       ...,
       [  6.07  ,  35.783 ],
       [  5.727 , 589.507 ],
       [  6.316 ,  24.199 ]])

In [25]:
# Improved the model accuracy by automating hyperparameter tuning
parameters = {'n_estimators': [10, 20, 50, 100, 200, 500]}

In [26]:
# Create GridSearchCV model
grid_obj = GridSearchCV(model_reg, parameters)
# Train the model
grid_fit = grid_obj.fit(x_train, y_train)
# Select the best fitted model
best_fit = grid_fit.best_estimator_

In [27]:
# Make the prediction 
results = best_fit.predict(x_test)
# Check the model accuracy score
score = best_fit.score(x_test, y_test) * 100 
print(score)

37.36158666720288

In [28]:
# Predict the earthquakes for the year 2017, and validate the model accuracy from sample data
final_results = best_fit.predict(x_new)
# Check model accuracy score
final_score = best_fit.score(x_new, y_new) * 100
print(final_score)

-238.85290471214304

# Create Prediction Dataset

In [30]:
# Store the prediction results in lists
lst_Magnitude = []
lst_Depth = []
i = 0

for r in final_results.tolist():
    lst_Magnitude.append(final_results[i][0])
    lst_Depth.append(final_results[i][i])
    i += 1

IndexError: index 2 is out of bounds for axis 0 with size 2